configstore/
copyq/
node_modules/
temp/
karabiner/automatic_backups/

.DS_Store
gac/dot-files/.aws/credentials
gac/dot-files/.ssh/*
gac/dot-files/.*history
gac/dot-files/.lesshst
gac/dot-files/.rnd
gac/dot-files/.serverauth*
gac/dot-files/.viminfo

**/*id_rsa
**/*.pem

