init.author.name=Glen Coakley
init.author.email=gcoakley@datarecognitioncorp.com
cache=/Users/glencoakley/dev/runtime/npm_cache
@drc-eca:registry=https://artifactory/artifactory/api/npm/drc_local_npm/
registry=http://artifactory.datarecognitioncorp.com/artifactory/api/npm/drc_virtualnpm/
strict-ssl=false
prefer-offline=true
msvs_version=2017
script-shell-hold=c:\dev\bin\cygwin64\bin\bash.exe
