init.author.name=Glen Coakley
init.author.email=gcoakley@datarecognitioncorp.com
cache=/Users/glencoakley/dev/runtime/npm_cache
@drc-eca:registry=https://artifactory/artifactory/api/npm/drc_local_npm/
registry=http://registry.npmjs.org/
strict-ssl=false
prefer-offline=true
msvs_version=2017
script-shell-hold=c:\dev\bin\cygwin64\bin\bash.exe
//artifactory/artifactory/api/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJ3c2hjMDh0WUxLYzAzOGpaeFhQbkl6U3pxZ1dwMUYzSlJvVTAtZVhVOEs0In0.eyJzdWIiOiJqZnJ0QDAxYnBhMGRiNDcwZHloMDQ0YmYxYjMxbW01XC91c2Vyc1wvZ2NvYWtsZXkiLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZnJ0QDAxYnBhMGRiNDcwZHloMDQ0YmYxYjMxbW01IiwiaXNzIjoiamZydEAwMWJwYTBkYjQ3MGR5aDA0NGJmMWIzMW1tNSIsImlhdCI6MTU2OTM0OTU1MywianRpIjoiYzVlZjc2ZWEtNTNiYi00MjU4LThmYzctN2I5YzJhOTVmZDQ2In0.ARPGWIfib6sKUtV-H--hmdBn5Ox7PpEXdvXEfNr3iFfZgziaFocRsKeTYmf6qiSiK5BtIHA1UJ-jZ4MLjwk9V6kgyvHNpSwsziK37CgjSbSkbnoJIi8zrQG3tdylzRfWsidIpnQZZG-rylu_ZauUKcCqId_QpD2tPf3VW2zA_U5YqjOzguQTQj1Z9mY-eDiaKzGctrndoAorR9M43N2ub2M_PRK4alA4bJQzmB8VB9bkdDdRmio04D8rmWYLsUthyHjpRrKXv8HwykzUyprW7iZr-auiHq9uGEWRAoYEUzbbuwTXuxJLUsQ5faE3Bs-c649K_px9DVu78rCD_Z1gnw
optional=false
