init.author.name=Glen Coakley
init.author.email=gcoakley@datarecognitioncorp.com
#python=C:\dev\bin\python-2.7.13\python.exe
cache=~/dev/runtime/npm_cache
@drc-eca:registry=https://artifactory/artifactory/api/npm/drc_local_npm/
registry=https://registry.npmjs.com/
//registry.npmjs.com/:_authToken=0bd1a08b-1cb5-474c-add3-54beaf4dd5fa
//artifactory/artifactory/api/npm/drc_local_npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJ3c2hjMDh0WUxLYzAzOGpaeFhQbkl6U3pxZ1dwMUYzSlJvVTAtZVhVOEs0In0.eyJzdWIiOiJqZnJ0QDAxYnBhMGRiNDcwZHloMDQ0YmYxYjMxbW01XC91c2Vyc1wvZ2NvYWtsZXkiLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZnJ0QDAxYnBhMGRiNDcwZHloMDQ0YmYxYjMxbW01IiwiaXNzIjoiamZydEAwMWJwYTBkYjQ3MGR5aDA0NGJmMWIzMW1tNSIsImlhdCI6MTU0OTQ3MTMwNywianRpIjoiYWRhNTcxZTYtNjkzMC00YTVkLWE4NzktNzUwNjNmZWY0ZmI0In0.j3fGz3vjmYxY6csJuvhL83ZliCZuJtNytIYc-M6KDpyOxBnSNnRo9hVT63Omy9I5cKNqSWEbi3y_nXhmK2TV7lc4h2puiPu8oV7ZtPr8390WujroacDTSIrY3nR8_GoTs5MfWHwF36Rx-gzQTpxoGUnYBybMyAIp_jsGQdVlBXKU_Q4VpRf6iNrqLzcJ8r9vD30vqoBSzlNsEYqlB64iZ1Ha9gxZbOEw80lyjefb85aOiFDJODUj5QBEFfTglx4kcPSojfVotIuq4AJTyuoNROquWkdd_xMsCLpPM1AV-eDEDKuGceQ31ngcPlUDEewveV_62XYwv8ZYEO3NbJd06w
strict-ssl=false
prefer-offline=true
msvs_version=2017
script-shell-hold=c:\dev\bin\cygwin64\bin\bash.exe
